

<head>
    <link href="/public/css/Admin/AdminMessagePage.css" rel="stylesheet" />
</head>

<!-- this is a bar that attaches itself to to the navbar -->

<div id="Message-App" class="">

    <!-- Create Message -->
    <div id="message-compose" class="container d-flex flex-column align-items-center justify-content-center">
        <span class="material-icons"> create </span>
        <span> compose mail </span>
    </div>

    <div id="message-inbox" class="msg-app container d-flex flex-column align-items-center justify-content-center">
        <span class="material-icons"> mail </span>
        <span> inbox </span>
    </div>

    <div id="message-sent" class="msg-app container d-flex flex-column align-items-center justify-content-center">
        <span class="material-icons"> send </span>
        <span> sent </span>
    </div>

    <div id="message-drafts" class="msg-app container d-flex flex-column align-items-center justify-content-center">
        <span class="material-icons"> drafts </span>
        <span> drafts </span>
    </div>

    <div id="message-trash" class="msg-app container d-flex flex-column align-items-center justify-content-center">
        <span class="material-icons"> delete </span>
        <span> trash </span>
    </div>

</div>