
<head>
    <link href="/public/css/Admin/AdminProfilePage.css" rel="stylesheet" />
</head>

<form action="" method="POST" id="MyAccount" name="MyAccount" class="container d-flex flex-column align-items-center justify-content-center">

    <label> MyAccount </label>

    <!-- Username -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="username"> username </label>
            <input type="text" name="username" placeholder="Shannon@gmail.com" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <!-- Password -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="password"> password </label>
            <input type="password" name="password" placeholder="******" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

</form>

<form action="" method="POST" id="PersonalInformation" name="PersonalInformation" class="container d-flex flex-column align-items-center justify-content-center">

    <label> Personal Information </label>
    
    <!-- address -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="address"> address </label>
            <input type="text" name="address" placeholder="Address type 1" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <!-- city -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="city"> city </label>
            <input type="text" name="city" placeholder="Clarkston" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <!-- state -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="state"> state </label>
            <input type="text" name="state" placeholder="Georgia" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <!-- zipcode -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="zipcode"> zipcode </label>
            <input type="text" name="zipcode" placeholder="30021" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

</form>

<form action="" method="POST" id="ContactInformation" name="ContactInformation" class="container d-flex flex-column align-items-center justify-content-center">

    <label> Contact Information </label>
    
    <!-- email -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="email"> email </label>
            <input type="email" name="email" placeholder="Shannon@gmail.com" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <!-- Phone -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="phone"> phone </label>
            <input type="text" name="phone" placeholder="###-###-###" disabled />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

</form>

<form action="" method="POST" id="SocialMediaLinks" name="SocialMediaLinks" class="container d-flex flex-column align-items-center justify-content-center">

    <h4> Social Media Links </h4>
    
    <!-- facebook -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="socialmedialinks"> Social Media Links </label>
            <select name="socialmedialinks" value="shannon@facebook.com" disabled>
                <option value="facebook"> Facebook </option>
                <option value="twitter"> Twitter </option>
                <option value="instagram"> Instagram </option>
                <option value="tiktok"> TikTok </option>
                <option value="linkedIn"> LinkedIn </option>
            </select>
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

    <span class="material-icons container d-flex align-items-center justify-content-center" style="font-size: 60px; max-width: 30px; max-height: 30px; background-color: white; color: royalblue; cursor: pointer; position: absolute; bottom: 10px; z-index: 2;"> add_circle </span>

</form>

<form action="" method="POST" id="ProfilePic" name="ProfilePic" class="container d-flex flex-column align-items-center justify-content-center">

    <span> Profile Picture </span>

    <span class="material-icons" style="font-size: 45px;"> account_circle </span>
    
    <!-- Profile Photo Update -->
    <div class="profile-form-data container d-flex flex-row align-items-center justify-content-center">

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label for="profile_pic"> Update Profile Photo </label>
            <input type="file" accept="image/png, image/jpg, image/jpeg" name="profile_pic" />
        </div>

        <div class="edit-profile-items container d-flex flex-column align-items-center justify-content-center">
            <span class="edit-profile-icons material-icons"> edit </span>
            <span> edit </span> 
        </div>
    </div>

</form>

<script>

    /*

        UPDATING PROFILE INFORMATION

        var profile = {
            user_Fk: null,
            name: // the name of the field here.
            originalname: "",
            updatename: ""
        }

        // a user presses the edit button to enable the input fields

        // a profile object is created and the name of the field and its value are stored in it.

        // when user press the edit field:
        // - the value and the place value become the updated name.
        // - the field is now disabled.
        // if differently send to server to parse for database.

    */
</script>