
<head>
    <link href="/public/css/profile-page.css" rel="stylesheet" />
</head>

<div id="profile-page">

    <article class="container d-flex flex-column align-items-center justify-content-center" style="max-width: 400px; margin-right: 100px;">
        <label> Hello, I'm </label>
        <h1> Ashley </h1> 
        <span> I'm a financial advisor and over 8+ years... </span>
    </article>

    <button type="button" name="send_message_button"> Send Me A Message </button>

</div>

<div id="bio">
    <div id="profile-pic">
        <img src="/public/images/profile/Ashley.jpg" width="300" height="425" />
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-center" style="max-width: 400px; margin-right: 100px;">
        <label> Hello, I'm </label>
        <h1> Ashley </h1> 
        <span> I'm a financial advisor and over 8+ years... </span>
    </div>
</div>

<article id="Appointment-Stats" class="container d-flex flex-column align-items-center justify-content-center">
    <label> Appointment Stats</label>
    <span> 2022 </span>
    <!-- Workflow -->
    <div class="container d-flex flex-column align-items-center justify-content-center">

    </div>

</article>

<div id="send-message" class="container d-flex flex-column align-items-center justify-content-center">
    <span class="material-icons"> email </span>
    <span> Send Message </span> 
</div>